.mobile-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.mobile-icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fix {
    background: #fff;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#spinner {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}